<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= name -%></title>
        <link rel="stylesheet" href="/content/admin/styles/base.css">
        <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include('content/admin/html/header'); -%>
        <section class="wrapper">
            <%- include('content/admin/html/sidebar'); -%>
            <div class="shadow"></div>
            <div class="content">
                <%- include('content/admin/pages/' + url); %>
            </div>
        </section>
    </body>
    <script src="/content/admin/js/base.js"></script>
</html>