<nav class="sidebar">
    <ul class="items">
        <li><a href="<%= prefix %>/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
        <li><a href="<%= prefix %>/pages"><i class='bx bxs-layer'></i>Pages</a></li>
        <li><a href="<%= prefix %>/plugins"><i class='bx bxs-extension' ></i>Plugins</a></li>
        <li><a href="<%= prefix %>/themes"><i class='bx bxs-palette' ></i>Themes</a></li>
        <li><a href="<%= prefix %>/settings"><i class='bx bxs-cog'></i>Settings</a></li>
        <li><a href="<%= prefix %>/logout"><i class='bx bxs-log-out'></i>Log out</a></li>
    </ul>
</nav>