.box {
    display: inline-block;
    padding: 20px;
    background-color: $primary-dark;
    margin: 0 10px 10px 0;
}
.blink {
    animation: blink 1s linear infinite;
}
.error {
    color: $red;
    font-size: 14px;
}
.abs-center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.red-a {
    color: $red !important;
    &:hover {
        color: darken($red, 10%) !important;
    }
}
.staircase {
    padding-left: 10px;
}
.grid {
    display: grid;
    $tile: calc(33vw - 90px);
    grid-template-columns: $tile $tile $tile;
    span {
        font-size: 13px;
    }
}
.preview {
    width: 100%;
    height: 60px;
    object-fit: cover;
}
.previewButton {
    background-color: lighten($primary-dark, 5%);
    display: inline-flex;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &:hover {
        outline: 2px solid $green-1
    }
    &:active {
        outline: 3px solid $green-1
    }
}