// Icons
.bxs-message-alt-error {
    color: $red;
    font-size: 18px;
    vertical-align: middle;
}

// Custom classes
.box {
    display: inline-block;
    padding: 20px;
    background-color: $primary-dark;
    margin: 0 10px 10px 0;
}
.abs-center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.staircase {
    padding-left: 10px;
}
.grid {
    display: grid;
    $tile: calc(33vw - 90px);
    grid-template-columns: $tile $tile $tile;
    span {
        font-size: 13px;
    }
}
.preview {
    width: 100%;
    height: 60px;
    object-fit: cover;
}
.previewButton {
    background-color: lighten($primary-dark, 5%);
    display: inline-flex;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &:hover {
        outline: 2px solid $green-1
    }
    &:active {
        outline: 3px solid $green-1
    }
}

// Main formatting
a {
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}
.content{
    a {
        color: dodgerblue;
        &:hover {
            color: royalblue;
        }
    }
}

h6, h5, h4, h3, h2, h1 {
    color: #fff;
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
    td, th {
        border-bottom: 1px solid $border;
        text-align: left;
        vertical-align: baseline;
        padding: 8px;
        &:last-child {
            width: 66%;
        }
        span {
            font-size: 13px;
            color: darken($text, 20%);
        }
    }
}
tr:nth-child(even) {
    background-color: darken($primary, 1%);
}

button {
    background-color: darken($primary-dark, 5%);
    padding: 10px;
    margin-top: 3px;
    border: none;
    cursor: pointer;
    &:hover {
        outline: 2px solid $green-1
    }
    &:active {
        outline: 3px solid $green-1
    }
}
section {
    margin: 0 0 20px 0;
    position: relative;
}
label {
    display: block;
    color: lighten($text, 10%)
}
input {
    width: 220px;
    background-color: darken($primary-dark, 5%);
    padding: 10px;
    border: 0;
    &:autofill {
        box-shadow: 0 0 0 30px darken($primary-dark, 3%) inset !important;
    }
    &:focus {
        outline: 2px solid $green-1
    }
    &[type=email]:not(:focus):not(:empty):invalid,
    &[type=password]:not(:focus):not(:empty):invalid {
        color: $red;
        outline-color: $red;
    }
}

@media screen and (max-width: 315px) {
    table {
        td, th {
            font-size: 12px;
        }
        span {
            font-size: 11px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .grid {
        $tile: calc(50vw - 140px);
        grid-template-columns: $tile $tile;
    }
}
@media screen and (max-width: 700px) {
    .grid {
        $tile: calc(50vw - 10px);
        grid-template-columns: $tile $tile;
    }
}
@media screen and (max-width: 450px) {
    .grid {
        $tile: calc(100vw - 20px);
        grid-template-columns: $tile;
    }
}