
.box {
    display: inline-block;
    padding: 20px;
    background-color: $primary-dark;
}

a {
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}
.content a {
    color: dodgerblue;
    &:hover {
        color: royalblue;
    }
}

h6, h5, h4, h3, h2, h1 {
    color: #fff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
td, th {
    border: 1px solid $border;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: darken($border, 5%);
}