// Basic
$primary: #3a3b3c;
$primary-dark: #353637;
$border: #4d4c4c;

// Colors
$green-1: #76a43d;
$green-op-1: #76a43d2F;
$green-2: #567e2d;
$green-op-2: #567e2d2F;
$red: #cd5c5c;
$text: #ccc;

// Other
$trans-1: all 0.2s ease;
$trans-2: all 0.4s ease;