.bxs-message-alt-error {
  color: #cd5c5c;
  font-size: 18px;
  vertical-align: middle;
}

.box {
  display: inline-block;
  padding: 20px;
  background-color: #353637;
  margin: 0 10px 10px 0;
}

.abs-center {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.content a {
  color: dodgerblue;
}

.content a:hover {
  color: royalblue;
}

h6, h5, h4, h3, h2, h1 {
  color: #fff;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin-top: 20px;
}

table td, table th {
  border-bottom: 1px solid #4d4c4c;
  text-align: left;
  vertical-align: baseline;
  padding: 8px;
}

table td:last-child, table th:last-child {
  width: 66%;
}

table td span, table th span {
  font-size: 13px;
  color: #999999;
}

tr:nth-child(even) {
  background-color: #373839;
}

input {
  background-color: #323334;
}

@media screen and (max-width: 315px) {
  table td, table th {
    font-size: 12px;
  }
  table span {
    font-size: 11px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Segoe UI", Helvetica, sans-serif;
  color: #ccc;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3a3b3c;
  -webkit-tap-highlight-color: #567e2d2F;
}

header {
  background-color: #3a3b3c;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  border-bottom: 2px solid #4d4c4c;
  height: 80px;
  width: 100%;
  font-size: 16px;
}

header strong {
  color: #fff;
  font-size: 22px;
}

header .logo {
  width: auto;
  height: 40px;
  padding: 0 30px;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header i {
  width: 50px;
  font-size: 30px;
  cursor: pointer;
  display: none !important;
}

.wrapper {
  padding-top: 80px;
}

.content {
  padding: 30px 30px 30px 250px;
}

.sidebar {
  position: fixed;
  z-index: 5;
  background-color: #3a3b3c;
  width: 220px;
  height: 100%;
  border-right: 2px solid #4d4c4c;
}

.sidebar * {
  opacity: 1;
  visibility: visible;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin: 5px 10px 0;
}

.sidebar ul li a, .sidebar ul li i {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px;
}

.sidebar ul li a i {
  min-width: 28px;
  font-size: 20px;
}

.sidebar ul li a:hover i, .sidebar ul li a:hover {
  color: #76a43d;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media screen and (max-width: 700px) {
  body {
    height: 100%;
    overflow-y: hidden;
  }
  body.active {
    height: auto;
    overflow-y: auto;
  }
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header p {
    display: none;
  }
  header i {
    display: inline-block !important;
  }
  .shadow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: .5;
    background-color: #000;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 2;
  }
  .shadow.active {
    visibility: hidden;
    opacity: 0;
  }
  .content {
    padding: 10px;
  }
  .sidebar {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .sidebar.active {
    width: 0;
  }
  .sidebar *.active {
    opacity: 0;
    visibility: collapse;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
/*# sourceMappingURL=base.css.map */