<form method="POST" action="" onsubmit="disableBeforeUnload();" class="page-editor" target="_blank">
    <p>
        <button class="changes">
            Editor
	</button>
	<button class="changes">
            Preview           
        </button>
    </p>
    <textarea name="text" id="editor" onchange="enableBeforeUnload();" onkeyup="enableBeforeUnload();">
        <%= content %>
    </textarea>
    <button type="submit" class="changes" formaction="preview">
        Preview <%= page %> webpage
    </button>
    <button type="submit" class="changes">
        Save
    </button>
</form>
<link rel="stylesheet" href="/content/admin/styles/editor.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap" rel="stylesheet">
<script src="/content/admin/js/editor.js"></script>
