<div class="page-editor">
    
    <form
        method="POST"
        action=""
        onsubmit="disableBeforeUnload();"
        class="page-editor"
    >
        <p>
            <button class="button" id="editor-button" formaction="modify">Editor</button>
            <button class="button" id="preview-button" formaction="quickpreview">Preview</button>
        </p>
        <textarea
            name="text"
            id="editor"
            class="textarea"
            onchange="enableBeforeUnload();"
            onkeyup="enableBeforeUnload();"
            readonly=<%= readonly %>
        >
            <%= content %>
        </textarea>
        <input type="hidden" name="page" value=<%= page %>>
        <button type="submit" class="changes" formaction="preview">
            Preview <%= page %> webpage
        </button>
        <button type="submit" class="changes">Save</button>
    </form>
</div>
<link rel="stylesheet" href="/content/admin/styles/editor.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
<link
    href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap"
    rel="stylesheet"
/>
<script src="/content/admin/js/editor.js"></script>
