<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= name -%></title>
    <link rel="stylesheet" href="/content/admin/styles/base.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="box abs-center">
        <form method="post">
            <h1>Login</h1>
            <section>
                <label for="email">Email</label>
                <input
                    type="email"
                    placeholder="john.doe@gmail.com"
                    name="email"
                    autocomplete="email"
                    id="email"
                    required
                >
            </section>
            <section>
                <label for="current-password">Password</label>
                <input
                    type="password"
                    placeholder="12345678"
                    name="current-password"
                    autocomplete="current-password"
                    id="current-password"
                    required
                >
                <button id="toggle-password" type="button" aria-label="Show password as plain text. Warning: this will display your password on the screen.">Show password</button>
            </section>
            <!-- <button id="signin">Sign in</button> -->
            <input type="submit" value="Submit">
            <%- content %>
        </form>
    </div>
</body>
<script src="/content/admin/js/login.js"></script>
</html>