* {
    margin: 0;
    padding: 0;
    transition: all .25s ease-in-out;
}
body {
    background-color: #141418;
}
div {
    color: #fff;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 100vh;
    font-size: 20px;
}
p {
    margin-top: 10px;
}
a {
    color: #76A43D;
    text-decoration: none;
}
a:hover {
    color: #567E2D;
}
h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(45deg, #76A43D, #567E2D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1::before {
    content: '';
    background: url('/content/media/logo.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    display: inline-block;
    width: 100px;
    height: 72px;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 12vw;
    }
    p {
        font-size: 4vw;
    }
    div {
        width: 80%;
    }
}